 <nav id="menu" class="fixed-top">        
        <ul class="nav mb-0" id="menul">
           <li class="nav-item"><a style="color: white;" class="nav-link" href="/">&#128197; Agenda </a></li>
        </ul>
 </nav>
     
  <div class="w3-row" id="InsertClientes">
    <form action="/add-clientes" method="POST" onsubmit="salvar()">
      
      
      <div class="w3-col m3" id="campoInsert">
        <label>Cliente</label>
        <input type="text" class="w3-input w3-border" name="listacliente" autocomplete="off" required>
      </div>

      
      <div class="w3-col m2" id="campoInsert">
        <label class="form-label">Contato</label>
        <input type="tel" id="tel" placeholder="(11)91234-5678" class="w3-input w3-border" name="listacontato" autocomplete="off" minlength="15" maxlength="15" required>
      </div>

      
      <div class="w3-col m2" id="campoInsert">
        <label class="form-label">Aniversário</label>
        <input type="date" class="w3-input w3-border" name="listaaniversario" autocomplete="off" required>
      </div>

      
      <div class="w3-col m4" id="campoInsert">
        <label class="form-label">Outros</label>
        <input type="text" class="w3-input w3-border" name="listaoutros" placeholder="Email, Facebook, Instagram" autocomplete="off">
      </div>

      <div class="w3-col">
      <button type="submit" class="btn" style="background-color: rgb(33, 50, 128); color: white; margin-top: 34px;"> Inserir Nova Cliente </button>
      </div>

    </form>
</div>


<div style="margin-top: 120px;">
  <p id="title"> Lista de clientes </p><br>
        
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th scope="col">&nbsp;Cliente</th>
      <th scope="col">&nbsp;Contato</th>
      <th scope="col">&nbsp;Aniversário</th>
      <th scope="col">&nbsp;Outros</th>
    </tr>
  </thead>
  <tbody>
     {{#each clientes}}
    <tr>
      <td><a href="/deletarcliente/{{dataValues.id}}" style="color: rgb(126, 9, 9)" onClick="recarregar()"><img src="img/lixeira-logo.png"></a></td>
      <td>{{dataValues.cliente}}</td>
      <td>{{dataValues.contato}}</td>
      <td id="{{dataValues.id}}">{{dataValues.aniversario}}</td>
      <td>{{dataValues.outro}}</td>
    </tr>

<script>
  var dataFormat = document.getElementById("{{dataValues.id}}").innerText;
  var format = ( moment(dataFormat,'YYYY-MM-DD').format('DD/MM/YYYY'))
  document.getElementById("{{dataValues.id}}").innerText = format;
</script>

      {{/each}}
   </tbody>
   </table>

</div>


<script>
function recarregar() {  
    alert("Cliente deletado!")
}

function salvar() {  
    alert("Cliente inserida com sucesso!")
}

const tel = document.getElementById('tel') 
tel.addEventListener('keypress', (e) => mascaraTelefone(e.target.value)) 
tel.addEventListener('change', (e) => mascaraTelefone(e.target.value)) 

const mascaraTelefone = (valor) => {
    valor = valor.replace(/\D/g, "")
    valor = valor.replace(/^(\d{2})(\d)/g, "($1) $2")
    valor = valor.replace(/(\d)(\d{4})$/, "$1-$2")
    tel.value = valor 
}

</script>