 <nav id="menu" class="fixed-top">        
    <ul class="nav mb-0" style="font-size: 18pt; text-align: left; margin-left: 50px;">
        <li class="nav-item">
          <a style="color: white;"  class="nav-link" href="/">&#128197; Agenda </a>
        </li>

        <li class="nav-item">
          <a style="color: white;"  class="nav-link" href="/clientes">&#128151; Minhas Clientes </a>
        </li>        
    </ul>
 </nav>

<div style="padding: 2%; margin: 60px; margin-top: 100px; width: 90%;">
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Cliente</th>
      <th scope="col">Horario</th>
      <th scope="col">Procedimento</th>
      <th scope="col">Tipo</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>


{{#each horarios}}
    <tr>
      <td><a href="/deletar/{{dataValues.id}}" onClick="deletAlert()"><img src="img/lixeira-logo.png"></a></td>
      <td>{{dataValues.cliente}}</td>
      <td>{{dataValues.horario}}</td>
      <td>{{dataValues.procedimento}}</td>
      <td>{{dataValues.tipo}}</td>
      <td id="{{dataValues.id}}">{{dataValues.data}}</td>
    </tr>

<script>

var dataFormat = document.getElementById("{{dataValues.id}}").innerText;
var format = ( moment(dataFormat,'YYYY-MM-DD').format('DD/MM/YYYY'))
document.getElementById("{{dataValues.id}}").innerText = format;

</script>

{{/each}}

   </tbody>
   </table>
</div>



<script>

function deletAlert(){
  alert("Horario Deletado!")
}



</script>

